.preloader-container{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader{
  width: 5vw;
  height: 5vw;
  border: 10px solid hsl(198, 100%, 62%);
  border-radius: 50%;
  border-top: 10px solid rgba(255, 47, 0, 0.9);
  margin: 0 auto;
  animation: spin .2s linear infinite;
}

@keyframes spin{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}