.table-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px 8px;
}
.table {
	width: 80vw;
	height: 90vh;
	border: 1px solid hsl(198, 100%, 45%);
	overflow-y: scroll;
}

.table-star {
	width: 20px;
	height: 20px;
	/* margin: 0 7px; */
}

.table header{
	display: grid;
	grid-template-columns: repeat(6, 13vw);
	text-align: center;
}

.table header:first-child{
	text-align: left;
	padding-left: 1vw;
}



